* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f8f9fa;
}

img {
  border-radius: 5%;
}

.app {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;

  h1,
  h3 {
    line-height: 1.2;
  }

  h3 {
    padding: 8px 12px;
    border-radius: 4px;
    background: #14a9e4;
    color: #fff;
  }

  .mb-3 {
    margin-bottom: 15px;
  }

  .signin {
    text-align: center;
    width: 400px;
    margin: 100px auto 0 auto;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

    .title {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }

  section {
    display: flex;
    justify-content: center;
    margin: 100px auto 100px auto;
    gap: 20px;
  }

  ul {
    list-style-type: none;
  }

  .list-container {
    margin-bottom: 50px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 1px;

    &:nth-child(odd) {
      background: #fff;
    }

    &:nth-child(even) {
      background: #f2f2f2;
    }

    &:hover {
      background: #efefef;
    }
  }

  .btn-group {
    // margin-top: 100px;
    min-width: 200px;

    .btn {
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 0 4px 4px 0;
      position: relative;

      &:hover {
        background: rgba(20, 169, 228, 0.1);
      }

      &.active {
        color: #007bff;
        background: rgba(20, 169, 228, 0.2);
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 3px;
          top: 0;
          bottom: 0;
          left: 0;
          background: #14a9e4;
        }
      }
    }
  }

  .footer {
    float: right;
  }

  .singout,
  .vote {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    min-width: 80px;
    margin-left: 10px;

    &:hover {
      color: #fff;
    }
  }

  .singout {
    color: #14a9e4;
    border: 1px solid #14a9e4;
    &:hover {
      background: #14a9e4;
    }
  }

  .vote {
    color: #5cb85b;
    border: 1px solid #5cb85b;
    &:hover {
      background: #5cb85b;
    }
  }

  .container {
    width: 800px;
    // margin: 100px auto auto auto;
  }

  .wrapper {
    margin-bottom: 20px;
  }

  .candidate {
    padding: 8px 12px;
    border: 2px solid rgb(80, 170, 244);
    border-radius: 20px;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      background: #efefef;
    }

    .radio {
      margin-left: 15px;
      position: relative;
      bottom:40% ;
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 1px solid #aaa;
      border-radius: 50%;

      &.active {
        &::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          margin: 1px;
          background: #aaa;
          border-radius: 50%;
        }
      }
    }

    .name {
      position: relative;
      bottom:40% ;
      margin-left: 15px;
    }
  }

  .card {
    border: 1px solid #14a9e4;
    box-shadow: 0 5px 10px rgba(20, 169, 228, 0.15);
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 2rem;

    .card-title {
      font-size: 1.25rem;
      background: #14a9e4;
      color: #fff;
      padding: 8px 12px;
      font-weight: 600;
    }

    .card-body {
      padding: 8px 12px;
      background: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
